<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>REVERSED_CLIENT_ID</key>
<string>com.googleusercontent.apps.37795912856-qligv230eh2etlhmkiqf5n6k5f2q7qvs</string>
	<key>API_KEY</key>
	<string>AIzaSyBODXZBVbMbREBauceOso3qJU8ZLv4jU6E</string>
	<key>GCM_SENDER_ID</key>
	<string>37795912856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bapasitaram.bagdanadham</string>
	<key>PROJECT_ID</key>
	<string>bapa-sitaram-7a3b2</string>
	<key>STORAGE_BUCKET</key>
	<string>bapa-sitaram-7a3b2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37795912856:ios:3f0eb7a336bc171b96c4ed</string>
</dict>
</plist>